/* CSS Reset */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* my own css */

* {
  scroll-behavior: smooth;
}

.container {
  color: #d8f3dc;
  background-color: #081c15;
  font-family: "Poppins", sans-serif;
  /* fixes chromium scroll issue */
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6vh;
  width: 100vw;
}

.nav-right,
.nav-left {
  display: flex;
}
.nav-right a,
.nav-left a {
  text-decoration: none;
  color: #d8f3dc;
}

.nav-heading {
  text-decoration: none;
  color: #d8f3dc;
  font-size: 1.4rem;
}

.nav-right {
  gap: 2.5vw;
}

.nav-left {
  gap: 1vw;
}

.nav-left a {
  font-size: 1.6rem;
}

.fa-youtube-play:hover {
  color: crimson;
}

.fa-instagram:hover {
  color: royalblue;
}

.fa-github:hover {
  color: black;
}

.mobile-links {
  display: none;
}

#intro {
  height: 94vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.heading-break {
  display: none;
}

#about {
  height: 60vh;
  width: 100vw;
  background-color: #1b4332;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  nav {
    display: none;
  }
  .heading-break {
    display: block;
  }
  #intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .mobile-links {
    display: flex;
    gap: 3rem;
    font-size: 2rem;
  }

  .mobile-links a {
    text-decoration: none;
    color: #d8f3dc;
  }
  .mobile-links a i:hover {
    text-decoration: none;
    color: #d8f3dc;
  }

  #about {
    text-align: center;
  }

  #about ul {
    text-align: left;
  }
}
